<!DOCTYPE html>
<!-- Esta es la base del documento del index principal  -->
<html lang="en">
{% include head.html %}
<body>

  <!-- Si la página no es el index, muestra la plantilla base -->
  {% if page.url != "/" %}

      <!-- Contenedor principal  -->
      <div id="contenedor-principal">
        <!-- Incluye la cabecera  -->
        {% include header.html %}
        <section class="animated slideInUp">
          <!-- Aquí va el contenido del sitio -->
          {{content}}
        </section>

        <!-- Pie de página principal -->
        <footer id="pie-principal"><h3>El fin.</h3></footer>
      </div>

    {% else %}
      {{ content }}
  {% endif %}






  </body>
</html>
