<!DOCTYPE html>
<!-- Esta es la base del documento del index principal  -->
<html lang="en">
{% include head.html %}
<body>

  <!-- Si la página no es el index, muestra la plantilla base -->
  {% if page.url != "/" %}

      {% include header.html %}

      <!-- Contenedor principal  -->
      <div id="contenedor-principal">
        <!-- Incluye la cabecera  -->

        <!-- Aquí va el contenido del sitio -->
        <section class="animated slideInUp">
          {{content}}
        </section>

        <!-- Pie de página principal -->
        <footer id="pie-principal" class="footer">
          <h3>El fin.</h3>
        </footer>
      </div>
      {% include footer.html %}

    {% else %}
      {{ content }}
  {% endif %}






  </body>
</html>
